.feedContainer {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedItemWrapper {
  width: 100%;
}

.feedItem {
  text-decoration: none;
  color: inherit;
  max-width: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 3%;
  background-color: #1d1d1d;
  padding: 16px;
  --borderWidth: 2px;
  background: #1d1d1d;
  position: relative;
  border-radius: 0.5rem;
  min-height: fit-content;
}

.feedItem:hover {
  cursor: pointer;
  outline: var(--borderWidth) solid #9e61ff;
  transition: all 0.2s ease-in-out;
}

.authorInfoContainer {
  display: flex;
  flex-direction: row;
}

.authorProfilePicture {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #1d1d1d;
}

.authorInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1em;
}

.authorName {
  font-weight: 500;
  margin-top: -2px;
}

.authorHandleAndDatePosted {
  font-size: 0.8em;
}

.blogTextContainer {
}

.blogTitle {
  margin-top: 12px;
  font-size: 1.5rem;
}

.blogDescription {
}

/* Don't show blog description on mobile */
@media only screen and (max-width: 1000px) {
  .blogDescription {
    display: none;
  }
}

.blogImage {
  width: 100% !important;
}

.blogFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}
.metricContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.metricText {
  margin-left: 0.2em;
  margin-right: 8px;
}

.reachedEnd {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
